.album-info-container {
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 300px;
    width: auto;
}
.album-cover {
    width: 150px;
    height: 150px;
}

.detail-text {
    margin-top: 10px;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
}
