.album-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border : 1px solid black;
}
.album-cover {
    width: 150px;
    height: 150px;
}
